<nb-layout class="login-section signup">
    <nb-layout-column class="section_card">
          <nb-card>
              <nb-card-body>
                  <div class="login_fm">
                      <h2> <a [routerLink]="['/home/dashboard']"><img src="assets/images/logo.png"></a></h2>
                      <form>
                        <div>
                            <p class="forget-text">Please enter our email or number to reset your password</p>
                         </div>
                          <input type="text" nbInput fullWidth fieldSize="medium"  placeholder="Email or Number">
                        <div class="login_btn mt-3">
                            <button nbButton fullWidth  [routerLink]="['/home/dashboard']" >Submit</button>
                        </div>     
                      </form>
                  </div>
                </nb-card-body>
          </nb-card>
    </nb-layout-column>
</nb-layout>