<section class="list-view-set">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 card-rt">
                <a [routerLink]="['/home/poll-details']">
                    <div> <img src="https://quixlab.com/demo/tradix/images/blog/2.jpg"></div>
                    <nb-card> 
                        <nb-card-header><h6>April 25, 2018 4 Comments ApartmentsReal Estate near oceanLorem.</h6></nb-card-header>
                        <nb-card-body>
                            <p>A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                                Originally, nebula was a name for any diffuse astronomical object,
                                including galaxies beyond the Milky Way.</p>
                        </nb-card-body>
                        <nb-card-footer class="card-footer">
                            <div class="btn-sf" nbPopover="Poll Vote" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="trending-up-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="Like" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="heart-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="share" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="share-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="comments" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="message-circle-outline" ></nb-icon>
                            </div>
                        </nb-card-footer>
                    </nb-card>
                </a>
            </div>
            <div class="col-md-4 card-rt">
                <a [routerLink]="['/home/poll-details']">
                    <div> <img src="https://quixlab.com/demo/tradix/images/blog/2.jpg"></div>
                    <nb-card> 
                        <nb-card-header><h6>April 25, 2018 4 Comments ApartmentsReal Estate near oceanLorem.</h6></nb-card-header>
                        <nb-card-body>
                            <p>A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                                Originally, nebula was a name for any diffuse astronomical object,
                                including galaxies beyond the Milky Way.</p>
                        </nb-card-body>
                        <nb-card-footer class="card-footer">
                            <div class="btn-sf" nbPopover="Poll Vote" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="trending-up-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="Like" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="heart-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="share" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="share-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="comments" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="message-circle-outline" ></nb-icon>
                            </div>
                        </nb-card-footer>
                    </nb-card>
                </a>
            </div>
            <div class="col-md-4 card-rt">
                <a [routerLink]="['/home/poll-details']">
                    <div> <img src="https://quixlab.com/demo/tradix/images/blog/2.jpg"></div>
                    <nb-card> 
                        <nb-card-header><h6>April 25, 2018 4 Comments ApartmentsReal Estate near oceanLorem.</h6></nb-card-header>
                        <nb-card-body>
                            <p>A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                                Originally, nebula was a name for any diffuse astronomical object,
                                including galaxies beyond the Milky Way.</p>
                        </nb-card-body>
                        <nb-card-footer class="card-footer">
                            <div class="btn-sf" nbPopover="Poll Vote" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="trending-up-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="Like" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="heart-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="share" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="share-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="comments" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="message-circle-outline" ></nb-icon>
                            </div>
                        </nb-card-footer>
                    </nb-card>
                </a>
            </div>
            <div class="col-md-4 card-rt">
                <a [routerLink]="['/home/poll-details']">
                    <div> <img src="https://quixlab.com/demo/tradix/images/blog/2.jpg"></div>
                    <nb-card> 
                        <nb-card-header><h6>April 25, 2018 4 Comments ApartmentsReal Estate near oceanLorem.</h6></nb-card-header>
                        <nb-card-body>
                            <p>A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                                Originally, nebula was a name for any diffuse astronomical object,
                                including galaxies beyond the Milky Way.</p>
                        </nb-card-body>
                        <nb-card-footer class="card-footer">
                            <div class="btn-sf" nbPopover="Poll Vote" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="trending-up-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="Like" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="heart-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="share" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="share-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="comments" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="message-circle-outline" ></nb-icon>
                            </div>
                        </nb-card-footer>
                    </nb-card>
                </a>
            </div>
            <div class="col-md-4 card-rt">
                <a [routerLink]="['/home/poll-details']">
                    <div> <img src="https://quixlab.com/demo/tradix/images/blog/2.jpg"></div>
                    <nb-card> 
                        <nb-card-header><h6>April 25, 2018 4 Comments ApartmentsReal Estate near oceanLorem.</h6></nb-card-header>
                        <nb-card-body>
                            <p>A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                                Originally, nebula was a name for any diffuse astronomical object,
                                including galaxies beyond the Milky Way.</p>
                        </nb-card-body>
                        <nb-card-footer class="card-footer">
                            <div class="btn-sf" nbPopover="Poll Vote" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="trending-up-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="Like" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="heart-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="share" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="share-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="comments" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="message-circle-outline" ></nb-icon>
                            </div>
                        </nb-card-footer>
                    </nb-card>
                </a>
            </div>
            <div class="col-md-4 card-rt">
                <a [routerLink]="['/home/poll-details']">
                    <div> <img src="https://quixlab.com/demo/tradix/images/blog/2.jpg"></div>
                    <nb-card> 
                        <nb-card-header><h6>April 25, 2018 4 Comments ApartmentsReal Estate near oceanLorem.</h6></nb-card-header>
                        <nb-card-body>
                            <p>A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                                Originally, nebula was a name for any diffuse astronomical object,
                                including galaxies beyond the Milky Way.</p>
                        </nb-card-body>
                        <nb-card-footer class="card-footer">
                            <div class="btn-sf" nbPopover="Poll Vote" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="trending-up-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="Like" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="heart-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="share" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="share-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="comments" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="message-circle-outline" ></nb-icon>
                            </div>
                        </nb-card-footer>
                    </nb-card>
                </a>
            </div>
            <div class="col-md-4 card-rt">
                <a [routerLink]="['/home/poll-details']">
                    <div> <img src="https://quixlab.com/demo/tradix/images/blog/2.jpg"></div>
                    <nb-card> 
                        <nb-card-header><h6>April 25, 2018 4 Comments ApartmentsReal Estate near oceanLorem.</h6></nb-card-header>
                        <nb-card-body>
                            <p>A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                                Originally, nebula was a name for any diffuse astronomical object,
                                including galaxies beyond the Milky Way.</p>
                        </nb-card-body>
                        <nb-card-footer class="card-footer">
                            <div class="btn-sf" nbPopover="Poll Vote" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="trending-up-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="Like" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="heart-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="share" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="share-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="comments" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="message-circle-outline" ></nb-icon>
                            </div>
                        </nb-card-footer>
                    </nb-card>
                </a>
            </div>
            <div class="col-md-4 card-rt">
                <a [routerLink]="['/home/poll-details']">
                    <div> <img src="https://quixlab.com/demo/tradix/images/blog/2.jpg"></div>
                    <nb-card> 
                        <nb-card-header><h6>April 25, 2018 4 Comments ApartmentsReal Estate near oceanLorem.</h6></nb-card-header>
                        <nb-card-body>
                            <p>A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                                Originally, nebula was a name for any diffuse astronomical object,
                                including galaxies beyond the Milky Way.</p>
                        </nb-card-body>
                        <nb-card-footer class="card-footer">
                            <div class="btn-sf" nbPopover="Poll Vote" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="trending-up-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="Like" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="heart-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="share" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="share-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="comments" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="message-circle-outline" ></nb-icon>
                            </div>
                        </nb-card-footer>
                    </nb-card>
                </a>
            </div>
            <div class="col-md-4 card-rt">
                <a [routerLink]="['/home/poll-details']">
                    <div> <img src="https://quixlab.com/demo/tradix/images/blog/2.jpg"></div>
                    <nb-card> 
                        <nb-card-header><h6>April 25, 2018 4 Comments ApartmentsReal Estate near oceanLorem.</h6></nb-card-header>
                        <nb-card-body>
                            <p>A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                                Originally, nebula was a name for any diffuse astronomical object,
                                including galaxies beyond the Milky Way.</p>
                        </nb-card-body>
                        <nb-card-footer class="card-footer">
                            <div class="btn-sf" nbPopover="Poll Vote" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="trending-up-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="Like" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="heart-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="share" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="share-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="comments" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="message-circle-outline" ></nb-icon>
                            </div>
                        </nb-card-footer>
                    </nb-card>
                </a>
            </div>
            <div class="col-md-4 card-rt">
                <a [routerLink]="['/home/poll-details']">
                    <div> <img src="https://quixlab.com/demo/tradix/images/blog/2.jpg"></div>
                    <nb-card> 
                        <nb-card-header><h6>April 25, 2018 4 Comments ApartmentsReal Estate near oceanLorem.</h6></nb-card-header>
                        <nb-card-body>
                            <p>A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                                Originally, nebula was a name for any diffuse astronomical object,
                                including galaxies beyond the Milky Way.</p>
                        </nb-card-body>
                        <nb-card-footer class="card-footer">
                            <div class="btn-sf" nbPopover="Poll Vote" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="trending-up-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="Like" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="heart-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="share" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="share-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="comments" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="message-circle-outline" ></nb-icon>
                            </div>
                        </nb-card-footer>
                    </nb-card>
                </a>
            </div>
            <div class="col-md-4 card-rt">
                <a [routerLink]="['/home/poll-details']">
                    <div> <img src="https://quixlab.com/demo/tradix/images/blog/2.jpg"></div>
                    <nb-card> 
                        <nb-card-header><h6>April 25, 2018 4 Comments ApartmentsReal Estate near oceanLorem.</h6></nb-card-header>
                        <nb-card-body>
                            <p>A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                                Originally, nebula was a name for any diffuse astronomical object,
                                including galaxies beyond the Milky Way.</p>
                        </nb-card-body>
                        <nb-card-footer class="card-footer">
                            <div class="btn-sf" nbPopover="Poll Vote" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="trending-up-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="Like" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="heart-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="share" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="share-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="comments" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="message-circle-outline" ></nb-icon>
                            </div>
                        </nb-card-footer>
                    </nb-card>
                </a>
            </div>
            <div class="col-md-4 card-rt">
                <a [routerLink]="['/home/poll-details']">
                    <div> <img src="https://quixlab.com/demo/tradix/images/blog/2.jpg"></div>
                    <nb-card> 
                        <nb-card-header><h6>April 25, 2018 4 Comments ApartmentsReal Estate near oceanLorem.</h6></nb-card-header>
                        <nb-card-body>
                            <p>A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                                Originally, nebula was a name for any diffuse astronomical object,
                                including galaxies beyond the Milky Way.</p>
                        </nb-card-body>
                        <nb-card-footer class="card-footer">
                            <div class="btn-sf" nbPopover="Poll Vote" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="trending-up-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="Like" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="heart-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="share" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="share-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="comments" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="message-circle-outline" ></nb-icon>
                            </div>
                        </nb-card-footer>
                    </nb-card>
                </a>
            </div>
            <div class="col-md-4 card-rt">
                <a [routerLink]="['/home/poll-details']">
                    <div> <img src="https://quixlab.com/demo/tradix/images/blog/2.jpg"></div>
                    <nb-card> 
                        <nb-card-header><h6>April 25, 2018 4 Comments ApartmentsReal Estate near oceanLorem.</h6></nb-card-header>
                        <nb-card-body>
                            <p>A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                                Originally, nebula was a name for any diffuse astronomical object,
                                including galaxies beyond the Milky Way.</p>
                        </nb-card-body>
                        <nb-card-footer class="card-footer">
                            <div class="btn-sf" nbPopover="Poll Vote" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="trending-up-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="Like" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="heart-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="share" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="share-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="comments" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="message-circle-outline" ></nb-icon>
                            </div>
                        </nb-card-footer>
                    </nb-card>
                </a>
            </div>
            <div class="col-md-4 card-rt">
                <a [routerLink]="['/home/poll-details']">
                    <div> <img src="https://quixlab.com/demo/tradix/images/blog/2.jpg"></div>
                    <nb-card> 
                        <nb-card-header><h6>April 25, 2018 4 Comments ApartmentsReal Estate near oceanLorem.</h6></nb-card-header>
                        <nb-card-body>
                            <p>A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                                Originally, nebula was a name for any diffuse astronomical object,
                                including galaxies beyond the Milky Way.</p>
                        </nb-card-body>
                        <nb-card-footer class="card-footer">
                            <div class="btn-sf" nbPopover="Poll Vote" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="trending-up-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="Like" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="heart-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="share" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="share-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="comments" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="message-circle-outline" ></nb-icon>
                            </div>
                        </nb-card-footer>
                    </nb-card>
                </a>
            </div>
            <div class="col-md-4 card-rt">
                <a [routerLink]="['/home/poll-details']">
                    <div> <img src="https://quixlab.com/demo/tradix/images/blog/2.jpg"></div>
                    <nb-card> 
                        <nb-card-header><h6>April 25, 2018 4 Comments ApartmentsReal Estate near oceanLorem.</h6></nb-card-header>
                        <nb-card-body>
                            <p>A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                                Originally, nebula was a name for any diffuse astronomical object,
                                including galaxies beyond the Milky Way.</p>
                        </nb-card-body>
                        <nb-card-footer class="card-footer">
                            <div class="btn-sf" nbPopover="Poll Vote" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="trending-up-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="Like" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="heart-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="share" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="share-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="comments" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="message-circle-outline" ></nb-icon>
                            </div>
                        </nb-card-footer>
                    </nb-card>
                </a>
            </div>
            <div class="col-md-4 card-rt">
                <a [routerLink]="['/home/poll-details']">
                    <div> <img src="https://quixlab.com/demo/tradix/images/blog/2.jpg"></div>
                    <nb-card> 
                        <nb-card-header><h6>April 25, 2018 4 Comments ApartmentsReal Estate near oceanLorem.</h6></nb-card-header>
                        <nb-card-body>
                            <p>A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                                Originally, nebula was a name for any diffuse astronomical object,
                                including galaxies beyond the Milky Way.</p>
                        </nb-card-body>
                        <nb-card-footer class="card-footer">
                            <div class="btn-sf" nbPopover="Poll Vote" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="trending-up-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="Like" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="heart-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="share" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="share-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="comments" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="message-circle-outline" ></nb-icon>
                            </div>
                        </nb-card-footer>
                    </nb-card>
                </a>
            </div>
            <div class="col-md-4 card-rt">
                <a [routerLink]="['/home/poll-details']">
                    <div> <img src="https://quixlab.com/demo/tradix/images/blog/2.jpg"></div>
                    <nb-card> 
                        <nb-card-header><h6>April 25, 2018 4 Comments ApartmentsReal Estate near oceanLorem.</h6></nb-card-header>
                        <nb-card-body>
                            <p>A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                                Originally, nebula was a name for any diffuse astronomical object,
                                including galaxies beyond the Milky Way.</p>
                        </nb-card-body>
                        <nb-card-footer class="card-footer">
                            <div class="btn-sf" nbPopover="Poll Vote" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="trending-up-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="Like" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="heart-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="share" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="share-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="comments" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="message-circle-outline" ></nb-icon>
                            </div>
                        </nb-card-footer>
                    </nb-card>
                </a>
            </div>
            <div class="col-md-4 card-rt">
                <a [routerLink]="['/home/poll-details']">
                    <div> <img src="https://quixlab.com/demo/tradix/images/blog/2.jpg"></div>
                    <nb-card> 
                        <nb-card-header><h6>April 25, 2018 4 Comments ApartmentsReal Estate near oceanLorem.</h6></nb-card-header>
                        <nb-card-body>
                            <p>A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                                Originally, nebula was a name for any diffuse astronomical object,
                                including galaxies beyond the Milky Way.</p>
                        </nb-card-body>
                        <nb-card-footer class="card-footer">
                            <div class="btn-sf" nbPopover="Poll Vote" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="trending-up-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="Like" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="heart-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="share" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="share-outline" ></nb-icon>
                            </div>

                            <div class="btn-sf" nbPopover="comments" nbPopoverTrigger="hover" nbPopoverPlacement="top">
                                <nb-icon icon="message-circle-outline" ></nb-icon>
                            </div>
                        </nb-card-footer>
                    </nb-card>
                </a>
            </div>
            

        </div>
    </div>
</section>