<nb-layout>    
    <nb-layout-header  fixed >
      <div class="left-logo">
        <span class="nav-menu" (click)="toggle()">
          <nb-icon icon="menu-2-outline" [options]="{ animation: { type: 'zoom' } }"></nb-icon>
        </span>
        <a class="navbar-brand" [routerLink]="['/home/dashboard']">   
        <span class="logo"><img src="assets/images/logo.png"></span> 
          <!-- <img src="assets/images/logo.png"  class="d-inline-block align-top" (click)="toggle()" alt=""> -->
        </a>
        
      </div>
      <div class="top_menu">
        <a nbButton outline shape="round" status="primary" [routerLink]="['/home/login']">Login</a>
        <a nbButton outline shape="round" status="success" [routerLink]="['/home/signup']">Signup</a>
      </div>
      </nb-layout-header>
  
      <nb-sidebar state="compacted">
          <nb-menu [items]="items">
          </nb-menu>
      </nb-sidebar>
  
      <nb-layout-column>
          <router-outlet ></router-outlet>   
      </nb-layout-column>
    </nb-layout>